{{ define "content" }}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <p>
        {{printf "%s" .Message}}
    </p>
    <form id="loginForm" name="loginForm" method="post" action="/login">
     <p>
            Email:<input type="email" name="email">
        </p>
        <!-- <p> 
            Password:<input type="password" name="password">
        </p>
        <p> -->
                <button id="login" type="submit" class="btn btn-primary">Click here</button>
            </p>
     </form>
</div>

{{ end }}

{{ define "head" }}
<!--Show ability to set title with the same data-->
<title>{{printf "%s" .Title}}!</title>
{{ end }}